html,
body,
* {
  font-size: 20px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cherry Cream Soda", system-ui;
}
.cherry-cream-soda-regular {
  font-family: "Cherry Cream Soda", system-ui;
  font-weight: 400;
  font-style: normal;
}

.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}

.head {
  background-color: #bb9457;
  text-align: center;
  width: auto;
  padding: 30px;
  margin: 30px 30px auto;
  -webkit-text-fill-color: #99582a;
  font-size: 40px;
  border: 3px solid #9a4000;
  font-family: "Henny Penny", system-ui;
}
body {
  /* sets the background for all used space (if a full screen isn't used then it will fill to fit a full screen) */
  background-image: url(https://t3.ftcdn.net/jpg/04/96/36/88/360_F_496368831_P4NgdDbxS7hdwymOxJKd6Qisab06P0ro.jpg);
}
.apple {
  /* sets background color around the beach text */
  background-color: rgb(80, 25, 25);
  -webkit-text-fill-color: red;
  text-align: center;
  width: 80vw;
  padding: 30px;
  margin: 0 auto;
  border-radius: 25px;
  border: 5px solid #99582a;
}
#title {
  font-size: 30px;
}
.pumpkin {
  /* sets background color around the beach text */
  background-color: rgb(80, 25, 25);
  -webkit-text-fill-color: red;
  text-align: center;
  width: 80vw;
  padding: 30px;
  margin: 0 auto;
  border-radius: 25px;
  border: 5px solid #99582a;
}
#title-2 {
  font-size: 30px;
}
.pecan {
  /* sets background color around the beach text */
  background-color: rgb(80, 25, 25);
  -webkit-text-fill-color: red;
  text-align: center;
  width: 80vw;
  padding: 30px;
  margin: 0 auto;
  border-radius: 25px;
  border: 5px solid #99582a;
}
#title-3 {
  font-size: 30px;
}
